.ListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.Trash:hover, .Trash:focus {
    color: red;
    cursor: pointer;
}