.Main {
    text-align: center;
    animation: fadein 1s;
  }
  
  .Main-logo {
    margin-top:1%;
    height: 10%;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Main-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Main-header {
    background-color: #E1F5FE;
    width:100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  .Main-title {
      margin-top: 1%;
  }
  .Main-slogan {
      margin-top: -1.5%;
  }

  .Main-info {
      margin-top:30px;
      display:flex;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction:row;
      background-color: #FFFF;
      width: 100%;
  }
  b {
    margin-bottom: 5px;
  }
  label {
    margin-top:1%;
    display:table;
    float:left;
    clear:left;
    text-align:right;
    width:250px;
  }
  input {
    margin-top:1.4%;
    display:table;
    width:33%;
    border-radius:25px;
    border-width:1px;
  }
  .Main-login {
    display:flex;
    flex-direction:column;
    width:100%;
    margin-left:9%;
  }  
  .Main-register {
    margin-right:120px;
    display:flex;
    flex-direction:column;
    width:100%;
  }
  .Main-loginButton, .Main-registerButton {
    display:table;
    width:32%;
    margin-top:2%;
    margin-left:40%;
    border-radius: 5px;
    background-color: #B3E5FC;
    border-color: #B3E5FC;
    padding: 0.2%;
    cursor: pointer;
    transition: transform .5s ease-out;
  }

  .Main-loginButton:hover, .Main-registerButton:hover, .Main-wasteTime:hover {
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  .Main-wasteTime {
    margin-top:3%;
    padding:0.5%;
    width:50%;
    border-radius: 5px;
    background-color: #B3E5FC;
    border-color: #B3E5FC;
    font-size:200%;
    cursor: pointer;
    transition: transform .5s ease-out;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fadein {
    from { opacity: 0; margin-top:-1rem; }
    to   { opacity: 1; margin-top:0;}
  }


