.Clock {
    margin: auto;
    margin-top: 4rem;
    width:40%;
    position: relative;
}

.Clock12 {
    position: absolute;
    top: 15%;
    left: 45%;
    z-index: 1;
}
.Clock1 {
    position: absolute;
    top: 20%;
    left: 60%;
    z-index: 1;
}
.Clock2 {
    position: absolute;
    top: 30%;
    left: 70%;
    z-index: 1;
}
.Clock3 {
    position: absolute;
    top: 45%;
    left: 75%;
    z-index: 1;
}
.Clock4 {
    position: absolute;
    top: 60%;
    left: 70%;
    z-index: 1;
}
.Clock5 {
    position: absolute;
    top: 70%;
    left: 60%;
    z-index: 1;
}
.Clock6 {
    position: absolute;
    top: 75%;
    left: 45%;
    z-index: 1;
}
.Clock7 {
    position: absolute;
    top: 70%;
    left: 30%;
    z-index: 1;
}
.Clock8 {
    position: absolute;
    top: 60%;
    left: 20%;
    z-index: 1;
}
.Clock9 {
    position: absolute;
    top: 45%;
    left: 15%;
    z-index: 1;
}
.Clock10 {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 1;
}
.Clock11 {
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 1;
}