.Clock {
    margin: auto;
    margin-top: 50px;
    width:40%;
    position: relative;
}

#Clock,
.Clock12 {
    position: absolute;
    top: 20%;
    left: 48%;
    z-index: 1;
}
#Clock,
.Clock1 {
    position: absolute;
    top: 72%;
    left: 48%;
    z-index: 1;
}
#Clock,
.Clock2 {
    position: absolute;
    top: 25%;
    left: 41%;
    z-index: 1;
}
#Clock,
.Clock3 {
    position: absolute;
    top: 24%;
    left: 55%;
    z-index: 1;
}
#Clock,
.Clock4 {
    position: absolute;
    top: 68%;
    left: 41%;
    z-index: 1;
}
#Clock,
.Clock5 {
    position: absolute;
    top: 68%;
    left: 55%;
    z-index: 1;
}
#Clock,
.Clock6 {
    position: absolute;
    top: 59%;
    left: 37%;
    z-index: 1;
}
#Clock,
.Clock7 {
    position: absolute;
    top: 59%;
    left: 59%;
    z-index: 1;
}
#Clock,
.Clock8 {
    position: absolute;
    top: 33%;
    left: 37%;
    z-index: 1;
}
#Clock,
.Clock9 {
    position: absolute;
    top: 33%;
    left: 59%;
    z-index: 1;
}
#Clock,
.Clock10 {
    position: absolute;
    top: 45%;
    left: 36%;
    z-index: 1;
}
#clockthing,
.Clock11 {
    position: absolute;
    top: 45%;
    left: 60%;
    z-index: 1;
}