.WastingTimeEfficiently {
    text-align: center;
}

.WastingTimeEfficiently-header {
    background-color: #E1F5FE;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}
.EmphasisedOption {
    margin-top:3%;
    padding:0.5%;
    width:50%;
    border-radius: 5px;
    background-color: #B3E5FC;
    border-color: #B3E5FC;
    font-size:200%;
    cursor: pointer;
  }