.WastingChoice {
    text-align: center;
    animation: fadein 1s;
}

.WastingChoice-header {
    background-color: #E1F5FE;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    animation: fadein 1s;
}

.WastingOptions {
    border: none;
    border-radius: 5%;
    color: black;
    padding: 5rem;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    flex: 1;
    display:inline-grid;
    transition: transform .5s ease-out;
}

.Buttons {
    padding:3rem;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction:row;
    gap: 2rem;
}

.WastingOptions :focus {
    outline: thin;
    box-shadow: transparent;
}

.WastingOptions:hover{
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

#OnlyWaste {
    background-color: #FCB3B3;
}

#YourWay {
    background-color: #B3E5FC;
}

#Efficient {
    background-color: #B3FCB6;
}

@keyframes fadein {
    from { opacity: 0; margin-top:-1rem; }
    to   { opacity: 1; margin-top:0;}
}
