.WastingChoice {
    text-align: center;
}

.WastingChoice-header {
    background-color: #E1F5FE;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.WastingOptions {
    border: none;
    border-radius: 5%;
    color: black;
    padding: 5rem;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    flex: 1;
    display:inline-grid;
}

.Buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;
    gap: 2rem;
}

.WastingOptions :focus {
    outline: thin;
    box-shadow: transparent;
}

#OnlyWaste {
    background-color: #FCB3B3;
}

#YourWay {
    background-color: #B3E5FC;
}

#Efficient {
    background-color: #B3FCB6;
}

