.YourActivity {
    text-align: center;
    animation: fadein 1s;
}
.YourActivity-button {
    margin-top:3%;
    padding:0.5%;
    width:25%;
    border-radius: 5px;
    background-color: #B3E5FC;
    border-color: #B3E5FC;
    font-size:140%;
    cursor: pointer;
}
.YourActivity-header {
    background-color: #E1F5FE;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: black;
}