.YourActivity {
    text-align: center;
    animation: fadein 1s;
}
.YourActivity-header {
    background-color: #E1F5FE;
    height: 35%;
    padding:2rem;
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: black;
}
.YourActivity-activity {
    padding-top: 10rem;
    font-size: calc(10px + 15vmin);
    color: black;
}
.YourActivity-button {
    margin-top:3%;
    padding:0.5%;
    width:25%;
    border-radius: 5px;
    background-color: #B3E5FC;
    border-color: #B3E5FC;
    font-size:140%;
    cursor: pointer;
}